<div>
  
    <div>
        <p>Potepan Shareでまだ体験したことのない旅をしよう</p>
        <div class="input-group"></div>
            <%= link_to 'ルーム一覧', rooms_path %>
        </div>
    </div> 
    <div>
        <h2>おすすめのエリア</h2>
        
    </div>
</div>



