<div>
    <div>
        <p>Potepan Shareでまだ体験したことのない旅をしよう</p>
        <div class="input-group"></div>
            <input class="form-control" style="width:500px" />
            <button class="btn btn-outline-primary">検索</button>
        </div>
    </div> 
    <div>
        <h2>おすすめのエリア</h2>
    </div>
</div>



